In [25]:
import pandas as pd 
import numpy as np
from matplotlib import pyplot as plt
%matplotlib inline

In [3]:
df1 = pd.read_excel('main_data.xlsx')

In [5]:
df1.head()

,YEAR,MONTH,DAY,DAY_OF_WEEK,AIRLINE,Airline Full Name,FLIGHT_NUMBER,TAIL_NUMBER,ORIGIN_AIRPORT,DESTINATION_AIRPORT,...,ARRIVAL_TIME,ARRIVAL_DELAY,DIVERTED,CANCELLED,CANCELLATION_REASON,AIR_SYSTEM_DELAY,SECURITY_DELAY,AIRLINE_DELAY,LATE_AIRCRAFT_DELAY,WEATHER_DELAY
0,2015,2,9,1,DL,Delta Air Lines Inc.,2471,N687DL,AUS,ATL,...,2044.0,60.0,0,0,NaN,42.0,0.0,18.0,0.0,0.0
1,2015,2,11,3,OO,Skywest Airlines Inc.,2694,N506CA,PHX,PSP,...,1340.0,0.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
2,2015,2,11,3,DL,Delta Air Lines Inc.,1159,N960DL,ATL,BUF,...,1514.0,-15.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
3,2015,1,14,3,MQ,American Eagle Airlines Inc.,3182,N939MQ,DFW,FSM,...,1352.0,-18.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,2015,2,3,2,MQ,American Eagle Airlines Inc.,3228,N694MQ,ORD,LSE,...,1359.0,17.0,0,0,NaN,17.0,0.0,0.0,0.0,0.0

In [7]:
df1.shape

(70000, 42)

In [9]:
df1.isnull().sum()

YEAR                                 0
MONTH                                0
DAY                                  0
DAY_OF_WEEK                          0
AIRLINE                              0
Airline Full Name                    0
FLIGHT_NUMBER                        0
TAIL_NUMBER                        457
ORIGIN_AIRPORT                       0
DESTINATION_AIRPORT                  0
Origin_Airport name                  0
Destination_Airport name             0
origin-airport-city                  0
Destination-Airport city             0
origin -airport-state                0
Destination -Airport-State           0
origin-airport-latitude              0
origin-airport-longitude             0
destination-airport-latitude         0
destination-airport-longitude        0
SCHEDULED_DEPARTURE                  0
DEPARTURE_TIME                    2182
DEPARTURE_DELAY                   2182
TAXI_OUT                          2215
WHEELS_OFF                        2215
SCHEDULED_TIME                       0
ELAPSED_TIME                      2399
AIR_TIME                          2399
DISTANCE                             0
WHEELS_ON                         2282
TAXI_IN                           2282
SCHEDULED_ARRIVAL                    0
ARRIVAL_TIME                      2282
ARRIVAL_DELAY                     2399
DIVERTED                             0
CANCELLED                            0
CANCELLATION_REASON              67766
AIR_SYSTEM_DELAY                 55584
SECURITY_DELAY                   55584
AIRLINE_DELAY                    55584
LATE_AIRCRAFT_DELAY              55584
WEATHER_DELAY                    55584
dtype: int64

In [11]:
df1['AIRLINE'].unique()

array(['DL', 'OO', 'MQ', 'US', 'UA', 'EV', 'NK', 'WN', 'HA', 'AA', 'B6',
       'AS', 'VX', 'F9'], dtype=object)

In [17]:
df1['FLIGHT_NUMBER'].nunique()

6033

In [19]:
df1['ORIGIN_AIRPORT'].nunique()

312

In [29]:
df1['TAXI_OUT'].nunique()

132

In [53]:
df1['CANCELLED'].unique()

array([0, 1], dtype=int64)

In [57]:
df1['CANCELLATION_REASON'].unique()

array([nan, 'B', 'C', 'A'], dtype=object)

In [61]:
un_imp_features_list = ['AIRLINE','Airline Full Name','TAIL_NUMBER','Origin_Airport name','Destination_Airport name','origin-airport-city','Destination-Airport city','origin -airport-state','Destination -Airport-State','origin-airport-longitude','origin-airport-latitude','WHEELS_OFF','WHEELS_ON','CANCELLATION_REASON']

In [63]:
df2 = df1.drop(columns=un_imp_features_list)

In [145]:
df2.shape

(70000, 28)

In [147]:
df2.isnull().sum()

YEAR                                 0
MONTH                                0
DAY                                  0
DAY_OF_WEEK                          0
FLIGHT_NUMBER                        0
ORIGIN_AIRPORT                       0
DESTINATION_AIRPORT                  0
destination-airport-latitude         0
destination-airport-longitude        0
SCHEDULED_DEPARTURE                  0
DEPARTURE_TIME                    2182
DEPARTURE_DELAY                   2182
TAXI_OUT                          2215
SCHEDULED_TIME                       0
ELAPSED_TIME                      2399
AIR_TIME                          2399
DISTANCE                             0
TAXI_IN                           2282
SCHEDULED_ARRIVAL                    0
ARRIVAL_TIME                      2282
ARRIVAL_DELAY                     2399
DIVERTED                             0
CANCELLED                            0
AIR_SYSTEM_DELAY                 55584
SECURITY_DELAY                   55584
AIRLINE_DELAY                    55584
LATE_AIRCRAFT_DELAY              55584
WEATHER_DELAY                    55584
dtype: int64

In [149]:
df3=df2[df2['CANCELLED']!=1]
df3.shape

(67766, 28)

In [151]:
df3.isnull().sum()

YEAR                                 0
MONTH                                0
DAY                                  0
DAY_OF_WEEK                          0
FLIGHT_NUMBER                        0
ORIGIN_AIRPORT                       0
DESTINATION_AIRPORT                  0
destination-airport-latitude         0
destination-airport-longitude        0
SCHEDULED_DEPARTURE                  0
DEPARTURE_TIME                       0
DEPARTURE_DELAY                      0
TAXI_OUT                             0
SCHEDULED_TIME                       0
ELAPSED_TIME                       165
AIR_TIME                           165
DISTANCE                             0
TAXI_IN                             48
SCHEDULED_ARRIVAL                    0
ARRIVAL_TIME                        48
ARRIVAL_DELAY                      165
DIVERTED                             0
CANCELLED                            0
AIR_SYSTEM_DELAY                 53350
SECURITY_DELAY                   53350
AIRLINE_DELAY                    53350
LATE_AIRCRAFT_DELAY              53350
WEATHER_DELAY                    53350
dtype: int64

In [153]:
null_list =['ELAPSED_TIME','AIR_TIME','TAXI_IN','ARRIVAL_TIME','ARRIVAL_DELAY']

In [155]:
df4 = df3.dropna(subset=null_list)
df4.shape

(67601, 28)

In [157]:
df4.isnull().sum()

YEAR                                 0
MONTH                                0
DAY                                  0
DAY_OF_WEEK                          0
FLIGHT_NUMBER                        0
ORIGIN_AIRPORT                       0
DESTINATION_AIRPORT                  0
destination-airport-latitude         0
destination-airport-longitude        0
SCHEDULED_DEPARTURE                  0
DEPARTURE_TIME                       0
DEPARTURE_DELAY                      0
TAXI_OUT                             0
SCHEDULED_TIME                       0
ELAPSED_TIME                         0
AIR_TIME                             0
DISTANCE                             0
TAXI_IN                              0
SCHEDULED_ARRIVAL                    0
ARRIVAL_TIME                         0
ARRIVAL_DELAY                        0
DIVERTED                             0
CANCELLED                            0
AIR_SYSTEM_DELAY                 53185
SECURITY_DELAY                   53185
AIRLINE_DELAY                    53185
LATE_AIRCRAFT_DELAY              53185
WEATHER_DELAY                    53185
dtype: int64

In [159]:
df4.fillna(0, inplace=True)
df4.isnull().sum()

C:\Users\rajbh\AppData\Local\Temp\ipykernel_6864\4011986242.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df4.fillna(0, inplace=True)

YEAR                             0
MONTH                            0
DAY                              0
DAY_OF_WEEK                      0
FLIGHT_NUMBER                    0
ORIGIN_AIRPORT                   0
DESTINATION_AIRPORT              0
destination-airport-latitude     0
destination-airport-longitude    0
SCHEDULED_DEPARTURE              0
DEPARTURE_TIME                   0
DEPARTURE_DELAY                  0
TAXI_OUT                         0
SCHEDULED_TIME                   0
ELAPSED_TIME                     0
AIR_TIME                         0
DISTANCE                         0
TAXI_IN                          0
SCHEDULED_ARRIVAL                0
ARRIVAL_TIME                     0
ARRIVAL_DELAY                    0
DIVERTED                         0
CANCELLED                        0
AIR_SYSTEM_DELAY                 0
SECURITY_DELAY                   0
AIRLINE_DELAY                    0
LATE_AIRCRAFT_DELAY              0
WEATHER_DELAY                    0
dtype: int64

In [169]:
# Define a list of columns to drop (use a different name to avoid conflict with the built-in list)
columns_to_drop = ['CANCELLED','destination-airport-latitude', 'destination-airport-longitude']

# Drop the specified columns from df4 and create a new DataFrame df5
df5 = df4.drop(columns=columns_to_drop,axis=1)

In [173]:
df5.isnull().sum()

YEAR                   0
MONTH                  0
DAY                    0
DAY_OF_WEEK            0
FLIGHT_NUMBER          0
ORIGIN_AIRPORT         0
DESTINATION_AIRPORT    0
SCHEDULED_DEPARTURE    0
DEPARTURE_TIME         0
DEPARTURE_DELAY        0
TAXI_OUT               0
SCHEDULED_TIME         0
ELAPSED_TIME           0
AIR_TIME               0
DISTANCE               0
TAXI_IN                0
SCHEDULED_ARRIVAL      0
ARRIVAL_TIME           0
ARRIVAL_DELAY          0
DIVERTED               0
AIR_SYSTEM_DELAY       0
SECURITY_DELAY         0
AIRLINE_DELAY          0
LATE_AIRCRAFT_DELAY    0
WEATHER_DELAY          0
dtype: int64

In [175]:
df5.head(10)

,YEAR,MONTH,DAY,DAY_OF_WEEK,FLIGHT_NUMBER,ORIGIN_AIRPORT,DESTINATION_AIRPORT,SCHEDULED_DEPARTURE,DEPARTURE_TIME,DEPARTURE_DELAY,...,TAXI_IN,SCHEDULED_ARRIVAL,ARRIVAL_TIME,ARRIVAL_DELAY,DIVERTED,AIR_SYSTEM_DELAY,SECURITY_DELAY,AIRLINE_DELAY,LATE_AIRCRAFT_DELAY,WEATHER_DELAY
0,2015,2,9,1,2471,AUS,ATL,1638,1656.0,18.0,...,27.0,1944,2044.0,60.0,0,42.0,0.0,18.0,0.0,0.0
1,2015,2,11,3,2694,PHX,PSP,1330,1328.0,-2.0,...,6.0,1340,1340.0,0.0,0,0.0,0.0,0.0,0.0,0.0
2,2015,2,11,3,1159,ATL,BUF,1330,1325.0,-5.0,...,6.0,1529,1514.0,-15.0,0,0.0,0.0,0.0,0.0,0.0
3,2015,1,14,3,3182,DFW,FSM,1310,1308.0,-2.0,...,3.0,1410,1352.0,-18.0,0,0.0,0.0,0.0,0.0,0.0
4,2015,2,3,2,3228,ORD,LSE,1235,1237.0,2.0,...,8.0,1342,1359.0,17.0,0,17.0,0.0,0.0,0.0,0.0
5,2015,1,16,5,1788,CLT,ORD,2235,2253.0,18.0,...,6.0,2338,2344.0,6.0,0,0.0,0.0,0.0,0.0,0.0
6,2015,2,15,7,1188,SFO,RDU,1514,1511.0,-3.0,...,4.0,2312,2252.0,-20.0,0,0.0,0.0,0.0,0.0,0.0
7,2015,2,7,6,1738,SMF,IAH,627,638.0,11.0,...,6.0,1207,1205.0,-2.0,0,0.0,0.0,0.0,0.0,0.0
8,2015,2,14,6,5608,SAN,LAX,625,621.0,-4.0,...,4.0,730,711.0,-19.0,0,0.0,0.0,0.0,0.0,0.0
9,2015,1,24,6,2027,PHX,MSP,1950,1949.0,-1.0,...,5.0,2356,12.0,16.0,0,16.0,0.0,0.0,0.0,0.0

In [179]:
df5.shape

(67601, 25)

In [205]:
origin_dummies = pd.get_dummies(df5.ORIGIN_AIRPORT,prefix='ORIGIN')
origin_dummies.head()

,ORIGIN_ABE,ORIGIN_ABI,ORIGIN_ABQ,ORIGIN_ABR,ORIGIN_ABY,ORIGIN_ACT,ORIGIN_ACV,ORIGIN_ACY,ORIGIN_ADQ,ORIGIN_AEX,...,ORIGIN_TYR,ORIGIN_TYS,ORIGIN_UST,ORIGIN_VEL,ORIGIN_VLD,ORIGIN_VPS,ORIGIN_WRG,ORIGIN_XNA,ORIGIN_YAK,ORIGIN_YUM
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [209]:
df6 = pd.concat([df5.drop('ORIGIN_AIRPORT',axis='columns'),origin_dummies],axis='columns') # all 0 (False) for the other columns
df6.head()

,YEAR,MONTH,DAY,DAY_OF_WEEK,FLIGHT_NUMBER,DESTINATION_AIRPORT,SCHEDULED_DEPARTURE,DEPARTURE_TIME,DEPARTURE_DELAY,TAXI_OUT,...,ORIGIN_TYR,ORIGIN_TYS,ORIGIN_UST,ORIGIN_VEL,ORIGIN_VLD,ORIGIN_VPS,ORIGIN_WRG,ORIGIN_XNA,ORIGIN_YAK,ORIGIN_YUM
0,2015,2,9,1,2471,ATL,1638,1656.0,18.0,16.0,...,False,False,False,False,False,False,False,False,False,False
1,2015,2,11,3,2694,PSP,1330,1328.0,-2.0,22.0,...,False,False,False,False,False,False,False,False,False,False
2,2015,2,11,3,1159,BUF,1330,1325.0,-5.0,10.0,...,False,False,False,False,False,False,False,False,False,False
3,2015,1,14,3,3182,FSM,1310,1308.0,-2.0,10.0,...,False,False,False,False,False,False,False,False,False,False
4,2015,2,3,2,3228,LSE,1235,1237.0,2.0,26.0,...,False,False,False,False,False,False,False,False,False,False

In [211]:
df6.shape

(67601, 336)

In [219]:
destination_dummies = pd.get_dummies(df6.DESTINATION_AIRPORT,prefix='DESTINATION')
df7 = pd.concat([df6.drop('DESTINATION_AIRPORT',axis='columns'),destination_dummies],axis='columns') # all 0 (False) for the other columns
df7.head(10)

,YEAR,MONTH,DAY,DAY_OF_WEEK,FLIGHT_NUMBER,SCHEDULED_DEPARTURE,DEPARTURE_TIME,DEPARTURE_DELAY,TAXI_OUT,SCHEDULED_TIME,...,DESTINATION_TYR,DESTINATION_TYS,DESTINATION_UST,DESTINATION_VEL,DESTINATION_VLD,DESTINATION_VPS,DESTINATION_WRG,DESTINATION_XNA,DESTINATION_YAK,DESTINATION_YUM
0,2015,2,9,1,2471,1638,1656.0,18.0,16.0,126,...,False,False,False,False,False,False,False,False,False,False
1,2015,2,11,3,2694,1330,1328.0,-2.0,22.0,70,...,False,False,False,False,False,False,False,False,False,False
2,2015,2,11,3,1159,1330,1325.0,-5.0,10.0,119,...,False,False,False,False,False,False,False,False,False,False
3,2015,1,14,3,3182,1310,1308.0,-2.0,10.0,60,...,False,False,False,False,False,False,False,False,False,False
4,2015,2,3,2,3228,1235,1237.0,2.0,26.0,67,...,False,False,False,False,False,False,False,False,False,False
5,2015,1,16,5,1788,2235,2253.0,18.0,18.0,123,...,False,False,False,False,False,False,False,False,False,False
6,2015,2,15,7,1188,1514,1511.0,-3.0,14.0,298,...,False,False,False,False,False,False,False,False,False,False
7,2015,2,7,6,1738,627,638.0,11.0,11.0,220,...,False,False,False,False,False,False,False,False,False,False
8,2015,2,14,6,5608,625,621.0,-4.0,24.0,65,...,False,False,False,False,False,False,False,False,False,False
9,2015,1,24,6,2027,1950,1949.0,-1.0,24.0,186,...,False,False,False,False,False,False,False,False,False,False

In [221]:
df7.shape

(67601, 648)